---
layout: base.njk
---
<main class="print">
{% include "partials/header.njk" %}
<div class="container ">
<div class="row mts-5">
{% include "partials/sidebar_home.njk" %}
{% include "partials/article_home.njk" %}
</div>
</div>
{% include "partials/footer_note.njk" %}
</main>
{% include "partials/articleprint_home.njk" %}
