<div class="col-md-9 p-3">

<div class="card mb-3">
<h3 class="card-header text-maron"><strong>{{title or metadata.title}}</strong></h3>
<div class="card-body">
<heading-anchors>
{{ content | safe }}
</heading-anchors>
</div>
</div>

<div class="card mb-3">
<h3 class="card-header text-maron"><strong>{{metadata.pets_sidebar.title}}</strong></h3>
<div class="card-body">
<heading-anchors>
<p>{{metadata.pets_sidebar.text}}</p>
<ul>{% for pet in collections.pets| limit(5) %}
<li><a href="{{pet.url}}">{{pet.data.title}}</a></li>{% endfor %}
<li><a href="/pet">Explore all Pet article</a></li>
</ul>
</heading-anchors>
</div>
</div>

<div class="card mb-3">
<h3 class="card-header text-maron"><strong>{{metadata.portfolios_sidebar.title}}</strong></h3>
<div class="card-body">
<heading-anchors>
<p>{{metadata.portfolios_sidebar.text}}</p>
<ul>{% for portfolio in collections.portfolios | limit(5) %}
<li><a href="{{portfolio.url}}">{{portfolio.data.title}}</a></li>{% endfor %}
<li><a href="/portfolio">Explore all POrtfolio article</a></li>
</ul>
</heading-anchors>
</div>
</div>


<div class="card mb-3">
<h3 class="card-header text-maron"><strong>{{metadata.recipes_sidebar.title}}</strong></h3>
<div class="card-body">
<heading-anchors>
<p>{{metadata.recipes_sidebar.text}}</p>
<ul>{% for receipe in collections.receipes | limit(5) %}
<li><a href="{{receipe.url}}">{{receipe.data.title}}</a></li>{% endfor %}
<li><a href="/recipe">Explore all Recipes article</a></li>
</ul>
</heading-anchors>
</div>
</div>

</div>
