<div class="col-md-9 p-3">

<div class="card mb-3">
<h3 class="card-header text-maron"><strong>{{title or metadata.title}}</strong></h3>
<div class="card-body">
<heading-anchors>
{{ content | safe }}
</heading-anchors>
</div>
</div>

</div>